.input-div  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box, .box-label  {
  margin: 5px;
}

.box input  {
  width: 200px;
}

.box-label  {
  width: 25%;
}

.register-btn, .signIn-btn, .submit-btn  {
  background-color: var(--blue);
  width: 91.5%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.signIn-btn {
  background-color: var(--black);
}

form a {
  text-decoration: none;
}

.password-requirements  {
  font-size: .8rem;
  margin: 0 10%;
}

@media only screen and (min-width: 800px)  {
  .box-label  {
    width: 15%;
  }

  .box input  {
    width: 400px;
  }

  .register-btn, .signIn-btn, .submit-btn  {
    width: 93%;
  }
}